target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

flink-*
deploying/memory_usage_node_*.csv
deploying/nohup.out

deploying/results/**
!deploying/results/eval/**
!deploying/results/final/**/inputs
deploying/example_inputs/multiquery/*.log
deploying/example_inputs/multiquery/py.err
deploying/example_inputs/multiquery/py.log
deploying/provisionMythicBeasts
deplaying/example_inputs/multiquery/*
java-cep/.idea/*
**/*.log
monitoring/*.csv
**/*.png
